body {
  margin: 0;
}

img {
  max-width: 100%;
}

.parent {
  display: flex;
  gap: 20px 20px;
  /* align-items: center; */
  /* justify-content:center; */
  /* flex-wrap: wrap; */
  /* flex-direction: column-reverse; */
}

.child {
  background-color: gray;
  /* margin-right: 10px; */
  /* margin-left: 10px; */
}

.child:first-of-type {
  /* margin-left: 0; */
}

.child:last-of-type {
  /* margin-right: 0; */
}